<footer>
    <div class="footer-main">
        <h4 class="footer-title">{{ site.title }}</h4>
        <div class="footer-content">
            <a href="{{ site.email }}">{{ site.email }}</a>
            <div class="footer-links">
                <a href="{{ site.github }}">HunterAshburn</a>
                <a href="{{ site.linkedin }}">Hunter-Ashburn</a>
                <a href="{{ site.resume }}">Resume</a>
            </div>
            <p>{{ site.footer-text }}</p>
        </div>
    </div>
    <h3 class="copyright">{{ site.copyright }}</h3>
</footer>