*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

main {
    margin: $spacing-unit;
    margin-top: 85px + $spacing-unit;
    max-width: 1600px;
}

body {
    font-family: $font-family;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

footer {
    width: 100%;
    border-top: 1px solid $primary-color;
    display: flex;
    flex-direction: column;
    background-color: $card-color;
}

aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    max-height: 100vh;
    padding-top: 85px + $spacing-unit;
    padding-bottom: $spacing-unit;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a, p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: $light-text-color;
}

h1 {
    @include responsive-font-size(3.25em, $font-size-multiplier-breakpoints);
}

h2 {
    @include responsive-font-size(2em, $font-size-multiplier-breakpoints);
}

h3 {
    @include responsive-font-size(1.5em, $font-size-multiplier-breakpoints);
}

h4 {
    @include responsive-font-size(1em, $font-size-multiplier-breakpoints);
    line-height: 1.5;
}

p {
    line-height: 1.5;
    @include responsive-font-size(1em, $font-size-multiplier-breakpoints);
}

a {
    @include responsive-font-size(1em, $font-size-multiplier-breakpoints);
    text-decoration: none;
}

section {
    width: 100%;
    margin: $spacing-unit * 1.5 0px;
}

hr {
    border: none;
    border-top: 1px solid $card-color;
}

.attention-text {
    color: $attention-color;
}

.default-container {
    display: flex;
    flex: 1;
}