$font-size-multiplier-breakpoints: (
    0px:    0.9,
    600px:  0.925,
    800px:  0.95,
    1000px: 0.975,
    1200px: 1,
    1400px: 1.1,
    1600px: 1.2
);

$image-size-multiplier-breakpoints: (
    0px:    0.85,
    600px:  0.9,
    800px:  0.95,
    1000px: 1,
    1200px: 1,
    1400px: 1.3,
    1600px: 1.5
);

$div-size-multiplier-breakpoints: (
    0px:    0.925,
    600px:  0.95,
    800px:  0.975,
    1000px: 1,
    1200px: 1.1,
    1400px: 1.2,
    1600px: 1.3
);

$gradient-right-and-left-multiplier-breakpoints: (
    0px:    1,
    600px:  1,
    700px:  1,
    800px:  1,
    900px:  1,
    1000px: 1,
    1100px: 4,
    1200px: 9,
    1300px: 13,
    1400px: 10,
    1500px: 14,
    1600px: 14,
);

$main-margin-left-multiplier-breakpoints: (
    0px:    0.2,
    600px:  0.2,
    800px:  0.25,
    1000px: 0.5,
    1200px: 1,
    1400px: 1.2,
    1600px: 1.3
);