@mixin responsive-font-size($base-font-size, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            font-size: $base-font-size * $multiplier;
        }
    }
}

@mixin responsive-max-width($base-width, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            max-width: $base-width * $multiplier;
        }
    }
}

@mixin responsive-max-height($base-height, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            max-height: $base-height * $multiplier;
        }
    }
}

@mixin tech-box-colors($primary, $secondary) {
    background-color: $primary;
    color: $secondary;
    border: 1px solid lighten($primary, 10%);
    box-shadow: inset 0 1px lighten($primary, 10%);
}

@mixin responsive-div-size($base-height, $base-width, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            height: $base-height * $multiplier;
            width: $base-width * $multiplier;
        }
    }
}

@mixin responsive-height($base-height, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            height: $base-height * $multiplier;
        }
    }
}

@mixin responsive-width($base-width, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            width: $base-width * $multiplier;
        }
    }
}

@mixin responsive-right($base-right, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            right: $base-right * $multiplier;
        }
    }
}

@mixin responsive-left($base-left, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            left: $base-left * $multiplier;
        }
    }
}

@mixin responsive-margin-left($base-margin-left, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            margin-left: $base-margin-left * $multiplier;
        }
    }
}

@mixin responsive-margin-right($base-margin-right, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            margin-right: $base-margin-right * $multiplier;
        }
    }
}

@mixin responsive-margin-top($base-margin-top, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            margin-top: $base-margin-top * $multiplier;
        }
    }
}

@mixin responsive-margin-bottom($base-margin-bottom, $breakpoints) {
    @each $breakpoint, $multiplier in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            margin-bottom: $base-margin-bottom * $multiplier;
        }
    }
}