@charset "utf-8";

$font-family:                   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$text-primary-color:            #535C91 !default;
$text-secondary-color:          #9290C3 !default;
$light-text-color:              #ffffff !default;

$background-primary-color:      #0F0F0F !default;
$background-secondary-color:    #070F2B !default;
$background-tertiary-color:     #1B1A55 !default;

$line-primary-color:            #1B1A55 !default;
$line-secondary-color:          #9290C3 !default;

$attention-color:               #F97300 !default;

$headshot-color:                #0026ff !default;

$shadow-color:                  #0000003f !default;

// For use in javascript
:root {
    --headshot-color: #{$headshot-color};
}

$spacing-unit:                  20px !default;


@import 
    "breakpoints"
;