.conveyor {
    position: relative;
    padding: $spacing-unit 0px;
    border-top: 1px solid $line-primary-color;
    @include responsive-height(155px, $div-size-multiplier-breakpoints);
    box-sizing: content-box;
}

.conveyor-title {
    position: absolute;
    top: 5px;
    @include responsive-height(35px, $div-size-multiplier-breakpoints);
    background-color: rgba($background-primary-color, 0.95);
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 8px 9px rgba($background-primary-color, 0.95);
    border-radius: 12px;
    padding: 0px 10px;
}

.conveyor-right-title {
    left: -10px;
}

.conveyor-left-title {
    right: -10px;
}

.conveyor-belt {
    position: absolute;
    display: flex;
    gap: 20px;
}

.conveyor-belt-right {
    left: 0px;
}

.conveyor-belt-left {
    right: 0px;
}