.sidebar-container {
    margin-right: $spacing-unit / 2;
}

#sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    @include responsive-width(100px, $div-size-multiplier-breakpoints);
}

#sidebar-list li {
    @include responsive-font-size(1em, $font-size-multiplier-breakpoints);
    padding: $spacing-unit * 1.5 0px;
    width: 100%;
    color: $light-text-color;
}

#sidebar-list hr {
    border-color: $light-text-color;
}