.tech-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    border-radius: 12px;
    gap: $spacing-unit;
    padding: $spacing-unit;
    font-weight: bold;
    @include responsive-font-size(1em, $weak-font-size-multiplier-breakpoints);
}

.tech-logo {
    height: 60px;
}

.javascript-box {
    @include tech-box-colors(#111111, #F7DF1E);
}

.java-box {
    @include tech-box-colors(#101420, #E76F00);
}