.hunter {
    display: grid;
    grid-template-columns: auto auto;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px $spacing-unit;
}