---
layout: default
hide_sidebar: true
hide_contact_me_footer: true
---

<section class="contact">
    <form class="contact-form">
        <div class="contact-form-top">
            <div class="contact-form-top-left">
                <h1 class="contact-heading">{{ page.heading }}</h1>
                <div class="contact-form-top-left-fields">
                    <label for="field1">{{ page.field_1_label }}</label>
                    <input type="text" name="field1" class="contact-field1 contact-field"></input>
                    <label for="field2">{{ page.field_2_label }}</label>
                    <input type="email" name="field2" class="contact-field2 contact-field"></input>
                </div>
            </div>
            {% include circular-headshot-image.html location="contact" %}
        </div>
        <div class="contact-form-bottom-field">
            <label for="field3">{{ page.field_3_label }}</label>
            <textarea name="field3" class="contact-field3 contact-field"></textarea>
        </div>
        <input type="submit"></input>
    </form>
</section>