<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <script src="/assets/js/define-root.js"></script>

    {% include header.html %}

    <div class="default-container">

      <main class="{% unless layout.hide_sidebar %}with-sidebar{% endunless %}" aria-label="Content">
        {{ content }}
      </main>

      {% unless layout.hide_sidebar %}
        {% include sidebar.html %}
      {% endunless %}

    </div>

    {% unless layout.hide_contact_me_footer %}
      {% include contact-me-footer.html %}
    {% endunless %}

    {% include footer.html %}

  </body>

</html>