---
layout: default
---

    <section class="hunter">
        <div class="introduction">
            <h1>{{ page.introduction.heading1 }}</h1>
            <h2 class="intro-heading-2">{{ page.introduction.heading2 }}</h2>
            <h3 class="intro-heading-3">{{ page.introduction.heading3 }}</h3>
            {%- include in-touch-button.html -%}
        </div>
        {%- include jelly-headshot-image.html -%}
    </section>

    <section class="toolbox" style="display: flex; gap: 20px; margin: 20px; flex-wrap: wrap;">
        <!-- temporary for testing (this includes the above inline styling) -->
        {% for category_hash in site.data.tech_boxes %}
            {% assign category = category_hash[0] %}
            {% assign techs = category_hash[1] %}
            {% for tech_hash in techs %}
                {% assign tech = tech_hash[0] %}
                {% include tech-box.html category=category tech=tech %}
            {% endfor %}
        {% endfor %}
        <!-- temporary for testing -->
    </section>

    <section class="experience">
        
    </section>

    <section class="showcase">
        <p>This site is still under construction. Everything is subject to change.</p>
    </section>