---
layout: default
---

    <section class="hunter sidebar-content-item">
        <div class="introduction">
            <h1 class="intro-heading-1">{{ page.introduction.heading1 }}</h1>
            <h2 class="intro-heading-2">{{ page.introduction.heading2 }}</h2>
            <h3 class="intro-heading-3">{{ page.introduction.heading3 }}</h3>
            {% include in-touch-button.html %}
        </div>
        {% include jelly-headshot-image.html %}
    </section>
    <h1 style="color: yellow">This site is still under construction. Everything is subject to change.</h1>
    <section class="toolbox sidebar-content-item">
        {% include conveyor-right.html title=page.toolbox.conveyor1.title  categories=page.toolbox.conveyor1.categories %}
        {% include conveyor-left.html title=page.toolbox.conveyor2.title  categories=page.toolbox.conveyor2.categories %}
        {% include conveyor-right.html title=page.toolbox.conveyor3.title  categories=page.toolbox.conveyor3.categories %}
        {% include conveyor-left.html title=page.toolbox.conveyor4.title  categories=page.toolbox.conveyor4.categories %}
        <hr>
        <script src="/assets/js/move-conveyor-belts.js"></script>
    </section>

    <section class="experience sidebar-content-item">
        {% include undertaking-left.html undertaking=page.experience.undertaking1 %}
        {% include undertaking-right.html undertaking=page.experience.undertaking2 %}
        {% include undertaking-left.html undertaking=page.experience.undertaking3 %}
        {% include undertaking-right.html undertaking=page.experience.undertaking4 %}
    </section>
    <hr>
    <section class="showcase">
        <h2 class="showcase-heading">{{ page.showcase.heading }}</h2>
        {% include generic-button.html text=page.showcase.button.text link=page.showcase.button.link %}
    </section>