---
layout: default
---

    <section class="hunter">
        <div class="introduction">
            <h1>{{ page.introduction.heading1 }}</h1>
            <h2 class="intro-heading-2">{{ page.introduction.heading2 }}</h2>
            <h3 class="intro-heading-3">{{ page.introduction.heading3 }}</h3>
            {%- include in-touch-button.html -%}
        </div>
        {%- include headshot-image.html -%}
        <p>This is some test text</p>
    </section>

    <section class="toolbox">
        
    </section>

    <section class="experience">
        
    </section>

    <section class="showcase">
        
    </section>